<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Pager</title>
</head>

<body ng-app="wgmPager" ng-controller="Pager">

    <button ng-click="screenshot()">Screenshot</button>
    <button ng-click="save()">Save Guide</button>

    <h1>Guide pages</h1>

    <ul>
        <li ng-repeat="page in pages">
            <img src="{{page.image.cropped}}" style="height:30px; display:block">
            <div>{{page.comments}}</div>
        </li>
    </ul>

    <script src="../../contrib/angular.js"></script>
    <script src="../../contrib/angular-ui-router.js"></script>
    <script src="../../contrib/lodash.min.js"></script>
    <script src="../../app/services/maker.js"></script>
    <script src="pager.js"></script>
</body>

</html>